<%= form_with(model: transfer, local: true) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :trainer %>
    <%= form.text_field :trainer %>
  </div>

  <div class="field">
    <%= form.label :pokemon %>
    <%= form.text_field :pokemon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
